.body-home {
    background: #fff;
    // border-right: 1px solid #f1f1f1;
    height: 100%;
    width: 95%;
    max-width: 1200px;
    // white-space: nowrap;
    margin: 0 auto;
}

.body-home:after {
    content: '';
    clear: both;
    display: block;
}
.mask-tip {
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 2;
    position:fixed;
    top: 0;
    left: 0;
}
.tip-box {
    width: 120px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.5);
    color: #fff;
    max-width: 150px;
    margin: 0 auto;
}

.a-link {
    background: #fff;
    height: 100%;
    border: 1px solid #f2f2f2;
    text-align: center;
    display: block;
    color: #fff;
}
.sm-box {
    border-radius: 50%;
    position: fixed;
    background: url(../image/sright.png) #409EFF center center no-repeat;
    z-index: 1222;
    display:none;
    cursor: pointer;
    left: 0;
    width: 30px;
    height: 30px;
    top: 20px;
}
.mask-frame {
    position: fixed;
    left: 0;
    opacity: 0;
    background-color:#fff;
    z-index: 1;
    display: block;
    transition: all 0.3s ease-in-out;
    width: 100%;
    top: 150%;
    height: 100%;
}
.detial-text {
    color: #409EFF;
    padding: 5px 0;
}
.back-btn {
    cursor:pointer;
    position: absolute;
    background: #2b2b2b;
    left: 10px;
    width: 60px;
    padding: 5px ;
    text-align: center;
    color: #fff;
    top: 0;
}
#reloadBtn {
    cursor:pointer;
    position: absolute;
    background: #2b2b2b;
    left: 70px;
    width: 60px;
    padding: 5px ;
    text-align: center;
    color: #fff;
    top: 0;
}
.link-title {
    padding: 25px 10px;
    font-size: 16px;
}
@media (min-width:780px) {
    .link-title {
        padding: 30px;
        font-size: 24px;
    }
}
@media (min-width:1200px) {
    .link-title {
        padding: 50px;
        font-size: 24px;
    }
}

.link-detail {
    color: #2b2b2b;
    padding: 15px;
    font-size: 13px;
    // height: 150px;
    min-height: 150px;
    text-align: left;
    line-height: 1.3;
}
.shows {
    transition: all 0.3s;
    top: 0;
}
.down-end {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top: -30px;
    cursor:pointer;
    left: 10px;
    z-index: 101;
    width: 50px;
    text-align: center;
    transition: all 0.3s;
    padding: 30px 0 10px 0; 
}
.down-end:hover {
    top: 0;
}

// @media (min-width:320px) {
//     .link-item {
//         width: 100%;
//         padding: 10px;
//         height: 120px;
//     }
// }


.link-item {
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    padding: 20px;
    float: left;
    // border-left: 1px solid #f1f1f1;
    a {
        text-decoration: none;
        // display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:568px) {
    .link-item {
        width: 50%;
    }
}
@media (min-width:1000px) {
    .link-item {
        width: 33.3%;
    }
}