html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.login {
    background: url(../image/bg.png) center center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    
}
.box-login {
    width: 320px;
    height: 250px;
    box-sizing: border-box;
    padding: 35% 20px;
    margin: 0 auto;
}
@media screen and (min-width: 780px) {
    .box-login {
        padding: 15% 20px;
    }  
}
.login-title {
    letter-spacing: 10px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 20px 0 50px;
}
.el-icon-user {
    position: absolute;
    top: 25px;
    left:10px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    display: inline-block;
    background: url(../image/username.png) center center no-repeat;
    background-size: 80%; 
}
.el-icon-pwd {
    position: absolute;
    top: 25px;
    left:10px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    display: inline-block;
    background: url(../image/password.png) center center no-repeat;
    background-size: 80%; 
}
.input-item {
    width: 100%;
    position: relative;
    padding: 15px 0;
   
}
.input-cn {
    padding-left: 40px;
    color: #3b3b3b;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255,255, 0.5);
    border-radius:20px;
    border: 1px solid #fff;
    height: 40px;
}
.input-cn:focus {
    border: 1px solid #66b1ff;
}
.mask-tip {
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 2;
    position:fixed;
    top: 0;
    left: 0;
}
.tip-box {
    width: 120px;
    padding: 8px 12px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.5);
    color: #fff;
    max-width: 150px;
    margin: 0 auto;
}
input {
    white-space: nowrap;
    outline:none;
    border-radius: 0;
    background: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    -o-border-image: initial;
    border-image: initial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.el-btn {
    color: #fff;
    background-color: #409EFF;
    border: 1px solid  #409EFF; 
    border-color: #409EFF;
    display: inline-block;
    line-height: 1;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}